<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Autor</label>
    <%= form.select :author_id, Author.all.collect {|author| [author.name , author.id]} %>
  </div>

  <div class="field">
    <label>Texto</label>
    <%= form.text_area :text, id: :post_text %>
  </div>

  <div class="field">
    <label>Assunto</label>
    <%= form.text_field :subject, id: :post_subject %>
  </div>

  <div class="field">
    <label>Título</label>
    <%= form.text_field :title, id: :post_title %>
  </div>

  <div class="actions">
    <input name="commit" value="Enviar" data-disable-with="Enviar" type="submit">
  </div>
<% end %>
