<p id="notice"><%= notice %></p>

<p>
  <strong>Autor:</strong>
  <%= @post.author.name %>
</p>

<p>
  <strong>Texto:</strong>
  <%= @post.text %>
</p>

<p>
  <strong>Assunto:</strong>
  <%= @post.subject %>
</p>

<p>
  <strong>Título:</strong>
  <%= @post.title %>
</p>

<%= link_to 'Editar', edit_post_path(@post) %> |
<%= link_to 'Voltar', posts_path %>
